.PersonForm {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  width: 80vw;
  position: relative;
  text-align: center;
}

.message {
  position: absolute;
  right: 0;
  padding: 1rem 2rem;
  border-radius: 5px;
  color: white;
}

.success_message {
  top: 0;
  background-color: #4BB543;
}

.error_message {
  bottom: 0;
  background-color: #ff0033;

}